<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
        <!-- See this article for how to update this blog : http://jmcglone.com/guides/github-pages/ -->
        <!-- link to main stylesheet -->
		<!--link rel="stylesheet" type="text/css" href="/css/main.css"-->
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

            {{ content }}
            
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="https://github.com/vbalasu">github.com/vbalasu</a></li>
        		<li><a href="https://linkedin.com/vbalasu">linkedin.com/in/vbalasu</a></li>
			</ul>
		</footer>
	</body>
</html>
